@model List<Category>

<h1>This is List</h1>
<table class="table table-bordered table-striped">
   <thead>
        <tr>
            <th>
                Display Order
            </th>
            <th>
                Category Name
            </th>
        </tr>
   </thead> 
   <tbody>
        @foreach(var obj in Model.OrderBy(u=>u.DisplayOrder))
        {
            <tr>
                <td>
                    @obj.DisplayOrder
                </td>
                <td>
                    @obj.Name
                </td>
            </tr>
        }
    </tbody>
</table>
